{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Projects</h1>

    <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#project-androirc">AndroIRC</a></li>
    </ul>

    <div class="tab-content">
        <div class="active tab-pane" id="project-androirc">
            <div class="project">
                <div class="thumbnail"><img src="/images/thumbnail_androirc.png" /></div>
                <div class="description">
                    <p>
                        AndroIRC is an Android IRC client which can connect to several server (secured or not)
                        at the same time. Features: supports mIRC colors, auto join channels on startup,
                        nickserv/sasl auth, logging, themes, FiSH support (needs Android 2.3 or above),
                        tablet support, nick and channels completion, shortcuts, ...
                    </p>
                    <p><strong>Website</strong> : <a href="http://www.androirc.com">http://www.androirc.com/</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}